extends layout

block content
  h1 Spamalot
  p.lead We bug the crap out of you or you get your money back, guaranteed!
  hr
  if !user
    include home/loggedout
  else
    -var profile = JSON.parse(JSON.stringify(user.profile))
    include home/loggedin