// Buttons
// -------------------------

.btn {
  border-radius: 0.5em;
  //box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.11), 1px 1px 0 rgba(255, 255, 255, 0.21) inset;

  &:focus {
    outline: none;
  }
}

.btn-link {
  box-shadow: none;
}

.btn-default, .btn-default:focus {
  //background-image: linear-gradient(to bottom, #ffffff 60%, #f8f8f8 100%);
}

// Forms
// -------------------------

.form-control:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
}

// Alerts
// -------------------------

.alert {
  border-radius: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
}

// Navbar
// -------------------------

.navbar-default {
  border: 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);

  .navbar-nav {
    > li > a {
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
      transition: all 0.2s linear;
    }
  }
}

.writing {
  font-family: 'Satisfy', cursive;
}

.section {
  padding-bottom: 2em;
}

.targets {
  margin: 0.5em auto;
  border-bottom: 4px solid #cff;
}

.add-target {
  margin-top: 1em;
}

.select-wrap-wrap {
    background: url(../img/down-chevron.png);
    background-size: auto 70%;
    background-position: 90% 20%;
    background-repeat: no-repeat;
    border: 1px solid #aaa;
    border-radius: 0.3em;
    display:inline-block;

  .select-wrap {
    overflow: hidden;
    display:inline-block;
    padding:0;

    select {
      position: relative;
      background: transparent;
      border: transparent;
      margin-right: -1em;
      padding:0;
      text-transform: capitalize;
      color: #666;
      font-weight: 100;

      option {
        padding-right: 3em;
        border: 1px solid #ccf;
      }
    }
  }
}
