.row
  .col-sm-12
    h2 What we do
    p There are no target markets anymore. Only targets. Bug your worst enemy to death. Or your best friend. Doesn't really matter. So long as they are living human beings and have cell phones, we've got your back. 
    p
  .col-sm-6
    h2 Get Started!
    p Nothing more to it, just a simple form with a target name, number, and email, and message. No more effort from you!
    p
      a.btn.btn-default(href='/signup', role='button') Let's spam it!
  .col-sm-6
    h2 Stop it!
    p This app pissing you off? You can pay to keep yourself protected!
    p
      a.btn.btn-default(href='/signup', role='button') Sign up!
  .col-sm-12
    h2 WHYYY
    p Because we hate you. Have a good night!
